*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-sizing: border-box;
}

/*.mobile{
    display: none;
}*/

h3{
    font-size: 35px;
}

.logo{
    display: flex;
}

.logo > h3{
    display: flex;
    align-self: center;
}

header {
    display: flex;
    background-color: #171717;
}

nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #171717;
}

nav > a{
    padding: 20px 15px;
    text-decoration: none;
    font-size: 18px;
    color: aliceblue;
}
.shopsection1 {
    display: flex;
    background-color: black;
    padding: 30px 20px;
    margin-bottom: 10px;
}

.shopsection1 > img {
    width: 60%;
    justify-content: ;
}

.shopsection1-content {
    color:white;
}